{% extends 'base.html.twig' %}

{% block title %}Zaloguj się{% endblock %}

{% block content %}
    <div class="page-full container text-white">
      <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        <form method="post">


            {% if app.user %}
              You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>

            {% else %}
            <br>
            <h1>Zaloguj się</h1>
            <hr class="bg-white">
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            <br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Hasło" required>
            <br>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-info" type="submit">
                Zaloguj
            </button>
            <br><br>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

        </form>
        </div>
        <div class="col-md-2"></div>
      </div>
      </div>

    </div>
  <div class="no-content-spacer"></div>
{% endif %}
</div>
</div>
{% endblock %}
