
{{ form_start(form) }}
    <label for="">Tytuł:</label>
    <br>
    {{ form_widget(form.title) }}
    <br>
    <label for="">Zawartość:</label>
    <br>
    {{ form_widget(form.content) }}
    <br>
    <label for="">Wybór obrazu:</label>
    <br>
    {{ form_widget(form.imageFilename) }}
    <br>
    <label for="">Pozycja zdjęcia:</label>
    <br>
    {{ form_widget(form.imagePosition) }}
    {{ form_widget(form) }}
    <br>
    <button class="btn btn-success">{{ button_label|default('Zapisz') }}</button>
{{ form_end(form) }}
