{% extends 'base.html.twig' %}

{% block title %}Aktualności{% endblock %}

{% block content %}


  <section class="container articles page__articles ">
    <div class="row">
      <div class="col-md-12">
        {% for post in posts %}
            <article class="article ">
            <h1 class="article__header">{{ post.title }}</h1>
            <hr class="article__header-divider">
                <div class="article__text ">{{ post.content | raw }}</div>
                <p class="article__created-at">{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</p>

                {% if app.user %}
                  <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-secondary">Edit</a>
                  <br>
                  <br>
                  {% include('post/_delete_form.html.twig') %}
                {% endif %}
            </article>

        {% else %}
        <br>
            <p class="text-white font-weight-bold">
              Brak utworzonych postów
            </p>
            {% if app.user %}
              <a href="{{ path('post_new') }}" class="btn btn-lg btn-success">Utwórz nowy</a>
            {% endif %}

        {% endfor %}

      </div>
    </div>

  </section>
{% endblock %}
