{% extends 'base.html.twig' %}

{% block title %}Szczegóły{% endblock %}

{% block content %}
<div class="container bg-secondary text-white">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
    <br>
      <h1>{{ post.title }}</h1>
      <hr class="bg-white">
        <img src="/uploads/{{ post.imageFilename }}" class="img-fluid {{ post.imagePosition }}">
      <p class="text-center">
          {{ post.content | raw }}
      </p>
  <a href="{{ path('post_index') }}" class="btn btn-light">Powrót do listy</a>
  {% if app.user %}
  <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-info">Edytuj</a>

  {{ include('post/_delete_form.html.twig') }}
  {% endif %}
  </div>
  <div class="col-md-1"></div>
  </div>
  <br><br>

</div>

{% endblock %}
