{{ form_start(form) }}
    <label for="">Title:</label>
    <br>
    {{ form_widget(form.title) }}
    <br>
    <label for="">Content:</label>
    <br>
    {{ form_widget(form.content) }}
    {{ form_widget(form) }}
    <br>
    {{ form_widget(form.image) }}
    <br>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
